:root {
    --primary: #454851;
    --secondary: #eaeaea;
    --text: #e55934;
}

html {
    scroll-padding-top: 100px;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    position:relative;
    background-color: var(--primary);
    color: var(--text);
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header with Navigation Bar */
header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary);
    width: 100%;
    z-index:1000;
}

header h1, header h2 {
    padding-left: 20px;
}

header h1{
    font-size: 50px;
    margin: 10px 0 0 0;
}

header h2{
    margin: 0 0 10px 0;
}

nav {
    display: flex;
    flex: 0 0 100px;
}

nav a {
    align-self: center;
    justify-self: right;
    padding: 0 50px 0 50px;
}

/* About Section Classes */
.bio {
    display: flex;
    justify-content: space-around;
}

.img {
    flex: 25%;
    display: inline;
    margin: 50px;
    max-width: 30%;
    padding: 50px;
    background-color: var(--secondary);
}

.about {
    flex: 25%;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary);
    margin: 50px;
}

.about h2, .about p {
    text-align: center;
}

/* The Project Flip Cards */

.projects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#projects {
    text-align: center;
    background-color: var(--secondary);
    padding: 2rem;
}

.proj-card {
    flex: 1 0 30%;
    background-color: transparent;
    padding: 20px;
    max-width: 600px;
    height: 300px;
    perspective: 1000px;
}

/* Offsetting Project 1 */
.proj-1 {
    flex: 0 0 66%;
    height: 600px;
    max-width: 10000px;
}

/* Flip Card Effect*/
.proj-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 50px;
}
  
.proj-card:hover .proj-card-inner {
    transform: rotateY(180deg);
}
  
.proj-card-front, .proj-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 50px;
}
  
.proj-card-front {
    background-color: var(--secondary);
}
  
.proj-card-back {
    background-color: var(--secondary);
    transform: rotateY(180deg);
}

.contactBoxes {
    display: flex;
    justify-content: space-around;
}

/* Contact Classes */
.contactBoxes div {
    background-color: var(--secondary);
    padding: 50px 100px;
    text-align: center;
}

.contactBoxes div a{
    font-size: 2rem;
}

/* Footer */
.endFooter {
    background-color: var(--secondary);
    height: 30px;
    position:relative;
    margin-top: 20px;
}

.endFooter p{
    position:absolute;
    bottom:0;
    right:0;
    margin:1px;
}

.imgFit {
    height: 75%;
}

/* IDs */
#about {
    text-align: center;
    background-color: var(--secondary);
    padding: 2rem;
}

#contact h2 {
    text-align: center;
    background-color: var(--secondary);
    padding: 2rem;
}

/* Tablet Screen Adjustments */
@media screen and (max-width: 992px) {
    header {
        flex-direction: column;
    }
    
    header h1, header h2 {
        text-align: center;
    }
    
    nav {
        justify-content: center;
        flex: 0 0 50px;
    }
    
    nav a {
        padding: 0 25px 0 25px;
    }

    .proj-card {
        max-width: 300px;
        height: 200px;
        perspective: 1000px;
    }
    
    /* Offsetting Project 1 */
    .proj-1 {
        flex: 0 0 66%;
        height: 300px;
        max-width: 10000px;
    }

    .contactBoxes div {
        padding: 20px 100px;
        text-align: center;
    }
    
    .contactBoxes div p{
        font-size: 2rem;
    }


  }
  /* TODO: Use media query to change the width of the cards so they are stacked on top of each other at 768px or smaller */
  @media screen and (max-width: 768px) {
    .bio {
        flex-direction: column;
        align-items: center;
    }

    .img {
        max-width: 60%;
    }

    .about {
        max-width: 60%;
    }

    .projects {
        /* flex-direction: column; */
    }

    .proj-card {
        flex: 1 0 90%;
    }
    
    .contactBoxes div {
        padding: 20px 10px;
        text-align: center;
    }
    
    .contactBoxes div p{
        font-size: 2rem;
    }
  }